body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
}

#sim {
  /*flex 1;*/
  /*z-index: 1;*/
}

#vis {
  position: absolute;
  right:0;
  top:0;
  width: 18%;
  background-color: black;
  height:100%;
  z-index: 10;
  opacity: 0.6;
}

.title {
  fill: white;
  font-size: 20px;
}
